<div ng-controler="productAdditionalController">
	<div class="col-md-12 center">
		<label for="file" class="btn btn-large" type="button" style = "margin-bottom:10px;">Select File</label> 
		<input type="file" id="file" style="display: none" file-upload multiple/><br/>
		<div ng-show="files.length > 0">
			<table id="fileTable" class="table  table-hover table-bordered table-striped">
				<thead>
					<tr style="background-color:#AEADAD;">
						<th>Number</th>
						<th>File Name</th>
						<th>File Size</th>
						<th>Operating</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in files">
						<td>{{$index+1}}</td>
						<td>{{file.name}}</td>
						<td>{{file.size/1024/1024|number:2 }} MB</td>
						<td><button class="btn btn-danger btn-xs" ng-click="removeFile(file)">Delete</button></td>
					</tr>
				</tbody>
			</table>
			<button id="uploadFiles" ng-click="upload() " class="btn btn-success">Upload Files</button>
		</div>
	</div>
</div>