<div ng-controler="ConfigrationController">
		<div class="col-md-12 center">
			<div>
				<h5 style="text-decoration:underline">So Count Set</h5>
				<span  style="margin-right:10px">So Count ></span>
				<input type="text" id="threshold"  ng-model="threshold" placeholder = 'Not required'/>
				<span  style="margin-left:10px">will generate winshuttle file</span>
				<button id="submit" ng-click="saveThreshold()" class="btn btn-large" style="margin-left:20px">set</button>
			</div>
		</div>
	</div>