<div ng-controller="uploadStatusController">		
<div style="width:1200px; margin:0 auto">
		<div style="margin: 15px 0">				
				<div style="width: 10%; margin-right:20px; float: left;">
					<select ng-model="searchBy"   id = "searchBy" class="form-control" >
						<option value="reportName" selected = "true">ReportName</option>
						<option value="currentStatus">Status</option>
				<!-- 		<option value="author">Author</option> -->
					</select>
				</div>		
				<div style="width: 20%; float: left;">
					<input ng-model="condition" id="conditionInp" type="text" class="form-control" placeholder="Search Condition" />
					<select ng-model="condition" id ="conditionSel" class="form-control"  style="display: none;">
						<option value="processing" selected = "true">Processing</option>
						<option value="success">Success</option>
						<option value="fail">Fail</option>
					</select>				
				</div>		
				<div style=" margin-left: 20px; float: left;">
					<button id="checkStatus"  ng-click="checkStatus()" class="btn  btn-default">Check</button>
				</div>
				<!--  
				<div style="margin-right: 20px; float: right;">
					<button id = "queryAll"  	ng-click="queryAll()" class="btn btn-success">Query All</button>
				</div>
				-->
				<div style=" clear: both;"></div>
			</div>		
			<div ui-grid="gridOptions" class="grid" ui-grid-pagination></div>
			</div>
</div>